<h1>Editing building account</h1>

<%= render "form", building_account: @building_account %>

<br>

<div>
  <%= link_to "Show this building account", @building_account %> |
  <%= link_to "Back to building accounts", building_accounts_path %>
</div>
