<div id="<%= dom_id event_occurrence %>">
  <p>
    <strong>Event:</strong>
    <%= event_occurrence.event_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event_occurrence.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event_occurrence.end_time %>
  </p>

</div>
