<h1>Editing event occurrence</h1>

<%= render "form", event_occurrence: @event_occurrence %>

<br>

<div>
  <%= link_to "Show this event occurrence", @event_occurrence %> |
  <%= link_to "Back to event occurrences", event_occurrences_path %>
</div>
