<div id="<%= dom_id event_organizer %>">
  <p>
    <strong>Event:</strong>
    <%= event_organizer.event_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event_organizer.user_id %>
  </p>

</div>
