<h1>Editing event organizer</h1>

<%= render "form", event_organizer: @event_organizer %>

<br>

<div>
  <%= link_to "Show this event organizer", @event_organizer %> |
  <%= link_to "Back to event organizers", event_organizers_path %>
</div>
