<p style="color: green"><%= notice %></p>

<h1>Event organizers</h1>

<div id="event_organizers">
  <% @event_organizers.each do |event_organizer| %>
    <%= render event_organizer %>
    <p>
      <%= link_to "Show this event organizer", event_organizer %>
    </p>
  <% end %>
</div>

<%= link_to "New event organizer", new_event_organizer_path %>
