<%= form_with(model: locationable) do |form| %>
  <% if locationable.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(locationable.errors.count, "error") %> prohibited this locationable from being saved:</h2>

      <ul>
        <% locationable.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
