<h1>Editing locationable</h1>

<%= render "form", locationable: @locationable %>

<br>

<div>
  <%= link_to "Show this locationable", @locationable %> |
  <%= link_to "Back to locationables", locationables_path %>
</div>
