<p style="color: green"><%= notice %></p>

<h1>Floors</h1>

<div id="floors">
  <% @floors.each do |floor| %>
    <%= render floor %>
    <p>
      <%= link_to "Show this floor", floor %>
    </p>
  <% end %>
</div>

<%= link_to "New floor", new_floor_path %>
