<div id="<%= dom_id group_contact %>">
  <p>
    <strong>Group:</strong>
    <%= group_contact.group_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= group_contact.contact_id %>
  </p>

</div>
