<h1>Editing group contact</h1>

<%= render "form", group_contact: @group_contact %>

<br>

<div>
  <%= link_to "Show this group contact", @group_contact %> |
  <%= link_to "Back to group contacts", group_contacts_path %>
</div>
