<div id="<%= dom_id event_guest %>">
  <p>
    <strong>Event:</strong>
    <%= event_guest.event_id_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= event_guest.contact_id_id %>
  </p>

  <p>
    <strong>Barcode:</strong>
    <%= event_guest.barcode %>
  </p>

</div>
