<h1>Editing event guest</h1>

<%= render "form", event_guest: @event_guest %>

<br>

<div>
  <%= link_to "Show this event guest", @event_guest %> |
  <%= link_to "Back to event guests", event_guests_path %>
</div>
