<h1>Editing visitor type</h1>

<%= render "form", visitor_type: @visitor_type %>

<br>

<div>
  <%= link_to "Show this visitor type", @visitor_type %> |
  <%= link_to "Back to visitor types", visitor_types_path %>
</div>
